<!-- --------------------------------------------------------------------------
     HEADER
     -------------------------------------------------------------------------- -->
<app-header />

<!-- --------------------------------------------------------------------------
     CONTENIDO PRINCIPAL
     -------------------------------------------------------------------------- -->
<main>
  <router-outlet />
</main>

<!-- --------------------------------------------------------------------------
     FOOTER
     -------------------------------------------------------------------------- -->
<app-footer [variant]="footerVariant()" />

<!-- --------------------------------------------------------------------------
     MODALES DE AUTENTICACIÓN
     -------------------------------------------------------------------------- -->
@if (authModal.activeModal() === 'login') {
  <app-login />
}
@if (authModal.activeModal() === 'register') {
  <app-register />
}

<!-- --------------------------------------------------------------------------
     ALERTAS / NOTIFICACIONES
     -------------------------------------------------------------------------- -->
<app-alerts />

