<!-- --------------------------------------------------------------------------
     HEADER
     -------------------------------------------------------------------------- -->
<app-header />

<!-- --------------------------------------------------------------------------
     CONTENIDO PRINCIPAL
     -------------------------------------------------------------------------- -->
<main>
  <router-outlet />
</main>

<!-- --------------------------------------------------------------------------
     FOOTER
     -------------------------------------------------------------------------- -->
<app-footer [variante]="footerVariante()" />

<!-- --------------------------------------------------------------------------
     MODALES DE AUTENTICACIÓN
     -------------------------------------------------------------------------- -->
@if (authModal.modalActivo() === 'login') {
  <app-login />
}
@if (authModal.modalActivo() === 'registro') {
  <app-registro />
}

<!-- --------------------------------------------------------------------------
     ALERTAS / NOTIFICACIONES
     -------------------------------------------------------------------------- -->
<app-alertas />

