@use '../../../../styles/00-settings/variables' as v;

// --------------------------------------------------------------------------
// FORMULARIO REGISTRO
// --------------------------------------------------------------------------
.registro {
  display: flex;
  flex-direction: column;
  padding: v.$spacing-4 3.375rem;
  gap: v.$spacing-4;

  // --------------------------------------------------------------------------
  // SEPARADOR
  // --------------------------------------------------------------------------
  &__separator {
    border: none;
    height: v.$border-thin;
    background-color: v.$neutral-900;
    opacity: 0.2;
    margin: 0;
  }

  // --------------------------------------------------------------------------
  // BOTÓN ACCIÓN
  // --------------------------------------------------------------------------
  &__action {
    align-self: center;
  }
}
