@use '../../../../styles/00-settings/variables' as v;

// --------------------------------------------------------------------------
// CAMPO FORMULARIO: Container label + input
// --------------------------------------------------------------------------
.campo {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-1;

  &__label {
    font-family: v.$font-primary;
    font-weight: v.$font-weight-bold;
    font-size: v.$font-size-md;
    color: v.$neutral-900;
  }

  &__input {
    height: 2.875rem;
    background-color: v.$color-input-bg;
    border: v.$border-thin solid v.$color-input-border;
    border-radius: v.$radius-input;
    font-family: v.$font-primary;
    font-size: v.$font-size-md;
    color: v.$neutral-900;
    padding: 0 v.$spacing-2;
    outline: none;
    transition:
      border-color v.$transition-fast,
      box-shadow v.$transition-fast;

    &:focus {
      border-color: v.$color-primary;
      box-shadow: 0 0 0 0.1875rem v.$color-focus-glow;
    }
  }
}
