<!-- --------------------------------------------------------------------------
     ALERTS CONTAINER (floating, top-right corner)
     -------------------------------------------------------------------------- -->
<aside class="alerts">
  @for (alert of alertService.alerts(); track alert.id) {
    <output class="alerts__item" [class]="'alerts__item--' + alert.type">
      <fa-icon class="alerts__icon" [icon]="icons[alert.type]" />
      <span class="alerts__message">{{ alert.message }}</span>
      <button
        class="alerts__close"
        type="button"
        aria-label="Close alert"
        (click)="alertService.close(alert.id)"
      >
        <fa-icon [icon]="faXmark" />
      </button>
    </output>
  }
</aside>
