<!-- --------------------------------------------------------------------------
     CHECKBOX FORMULARIO: Checkbox custom con icono SVG degradado
     -------------------------------------------------------------------------- -->
<label class="checkbox" [attr.for]="checkboxId()">
  <input
    type="checkbox"
    class="checkbox__input"
    [id]="checkboxId()"
    [checked]="checked"
    [disabled]="disabled"
    (change)="toggle()"
  />
  <span class="checkbox__box" [class.checkbox__box--checked]="checked">
    <fa-icon class="checkbox__icon" [icon]="faCheck" />
  </span>
  <span class="checkbox__label">{{ label() }}</span>
</label>
