<!-- --------------------------------------------------------------------------
     FILE PICKER: Selector de archivos con botón y nombre
     -------------------------------------------------------------------------- -->
<label class="file-picker">
  <span class="file-picker__button">Seleccionar archivo</span>
  <span class="file-picker__name">{{ fileName || 'Ningún archivo seleccionado' }}</span>
  <input
    class="file-picker__input"
    type="file"
    accept="image/*"
    (change)="onFileChange($event)"
  />
</label>
