<!-- --------------------------------------------------------------------------
     CARD USUARIO: Foto de perfil + nombre + subtítulo
     -------------------------------------------------------------------------- -->
<figure class="card-usuario">
  @if (photoUrl()) {
    <img
      class="card-usuario__foto"
      [src]="photoUrl()"
      [alt]="'Foto de perfil de ' + username()"
    />
  } @else {
    <span class="card-usuario__foto card-usuario__foto--placeholder" aria-hidden="true">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M12 12c2.7 0 4.8-2.1 4.8-4.8S14.7 2.4 12 2.4 7.2 4.5 7.2 7.2 9.3 12 12 12zm0 2.4c-3.2 0-9.6 1.6-9.6 4.8v2.4h19.2v-2.4c0-3.2-6.4-4.8-9.6-4.8z"/>
      </svg>
    </span>
  }
  <figcaption class="card-usuario__info">
    <span class="card-usuario__nombre">{{ username() }}</span>
    @if (subtitle()) {
      <span class="card-usuario__subtitulo">{{ subtitle() }}</span>
    }
  </figcaption>
</figure>
